@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: f, f, f;
  --background-rgb: f, f, f;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.swiper-button-next,
.swiper-button-prev {
  color: black !important;
  font-size: 3rem !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-weight: 900;
}
.swiper-button-next,
.swiper-button-prev {
  padding: 10px;
}
